@import '../styles/colors.scss';
@import '../styles/font-weights.scss';
@import '../styles/sizes.scss';

.top-bar {
  height: 100px;
  background-color: $wizard-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .title {
    font-size: $title-large;
    font-weight: $bold;
  }
}

ion-router-outlet {
  margin-top: 100px;
}