@import '../styles/colors.scss';
@import '../styles/sizes.scss';
@import '../styles/font-weights.scss';

.home-container {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    flex-direction: column;

    .title {
        margin-top: 30px;
        font-size: $title-large;
        font-weight: $bold;;
    }

    .description {
        width: 80%;
        margin-top: 20px;
        font-size: $text-medium;
        color: $wizard-lightgray;
    }

    .button {
        margin-top: 30px;
        width: 80%;
        text-align: center;
        background-color: $wizard-slategray;
        padding: 10px 0px;
        border-radius: 5px;
    }
}