@import '../styles/colors.scss';
@import '../styles/font-weights.scss';
@import '../styles/sizes.scss';

.game-setup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .title {
    font-size: $title-medium;
    font-weight: $bold;
    margin-top: 30px;
  }
  
  .description {
    font-size: $text-medium;
    font-weight: $regular;
    color: $wizard-lightgray;
    margin-top: 20px;
  }
  
  .number-select-container {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
    .label {
      font-size: $text-medium;
      font-weight: $regular;
    }
    
    .player-count-select {
      font-size: $text-medium;
      font-weight: $regular;
      width: 50px;
    }
  }
  
  .player-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .start-game-button {
    background-color: $wizard-slategray;
    font-weight: $semi-bold;
    font-size: $text-medium;
    padding: 10px 60px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
  }
}
