@import '../styles/colors.scss';
@import '../styles/font-weights.scss';
@import '../styles/sizes.scss';

.player-setup-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .player-table {
    border-spacing: 5px;
    width: 280px;
    
    .table-row {
      
      .player-number {
        font-size: $text-medium;
        font-weight: $semi-bold;
        width: 50%;
      }
      
      .name-input {
        width: 50%;
        
        .name-input-field {
          font-size: $text-medium;
          font-weight: $regular;
        }
      }
    }
  }
}
